<!--流程-->
<div class="lh-process" id="#123" style="background-image:url(__IMG__/cs/c7.jpg);">
    <div class="container">
        <h2 class="lh-other-h2 white wow fadeInUp">
            {$name.name}
        </h2>
        <ul class="lh-process-item zx lh-flex clearfix">
            {volist name="examprocess" id="vo"}
            <li class="wow fadeInUp">
                <a href="javascript:;">
                            <span>
                                {$vo.introduction_title}
                            </span>
                    <div class="img">
                        <div class="img1"><img src="{$vo.thumbs[0]|geturl}">
                        </div>
                        <div class="img2"><img src="{$vo.thumbs[1]|geturl}">
                        </div>
                    </div>
                    <h2>
                        {$vo.introduction_tag}
                    </h2>
                    <h3>
                        <pre>{$vo.ccont}</pre>
                    </h3>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>