<div class="lh-process" id="#123" style="background-image:url(__IMG__/cs/c7.jpg);">
    <div class="container">
        <h2 class="lh-other-h2 white wow fadeInUp">
            自考流程
        </h2>
        <ul class="lh-process-item zx lh-flex clearfix">
            <li class="wow fadeInUp">
                <a href="javascript:;">
                    <span>
                        01
                    </span>
                    <div class="img">
                        <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                        </div>
                        <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                        </div>
                    </div>
                    <h2>
                        资询信息
                    </h2>
                    <h3>
                        <pre>选择自己合适的专业进行报名</pre>
                    </h3>
                </a>
            </li>
            <li class="wow fadeInUp">
                <a href="javascript:;">
                    <span>
                        01
                    </span>
                    <div class="img">
                        <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                        </div>
                        <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                        </div>
                    </div>
                    <h2>
                        资询信息
                    </h2>
                    <h3>
                        <pre>选择自己合适的专业进行报名</pre>
                    </h3>
                </a>
            </li>
            <li class="wow fadeInUp">
                <a href="javascript:;">
                    <span>
                        01
                    </span>
                    <div class="img">
                        <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                        </div>
                        <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                        </div>
                    </div>
                    <h2>
                        资询信息
                    </h2>
                    <h3>
                        <pre>选择自己合适的专业进行报名</pre>
                    </h3>
                </a>
            </li>

        </ul>
    </div>
</div>