{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/hiring.css" />
<!--main-->
<div class="lh-main other">
    <!--ban-->

    <div class="lh-position">
        <!--other nav-->
        <div class="lh-other-nav-box">
            <div class="container clearfix">
                <ul class="lh-other-nav left clearfix">
                    <li>
                        <a href="/"><img src="__IMG__/home.png" /></a>
                    </li>
                    <li>
                        <a data-scroll href="">新闻咨询</a>
                    </li>
                    <li>
                        <a data-scroll href="">通知公告</a>
                    </li>

                </ul>
                <div class="lh-other-share right">
                    <a href="javascript:;"><i class="iconfont icon-fenxiang"></i></a>
                    <ul>
                        <li>
                            <a href="javascript:;" data-type="weixin" class="lhShare">
                                <i class="iconfont icon-weixin1"></i>
                            </a>
                        </li>
                        <li><a href="javascript:;" data-type="qqhy" class="lhShare"><i class="iconfont icon-qq"></i></a>
                        </li>
                        <li><a href="javascript:;" data-type="xinlang" class="lhShare"><i
                                class="iconfont icon-weibo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--recruitment-->
        <div class="lh-recruitment padding75">
            <div class="container">
                <h2 class="lh-recruitment-h2"></h2>
                <pre class="lh-recruitment-pre"></pre>
                <ul class="lh-recruitment-item" id="erlo_lj_data">
                    <li>
                        <div class="lh-recruitment-h clearfix lh-flex">
                            <span class="num">
                                招聘
                            </span><span class="title">
                                市场专员
                            </span>
                            <i></i>
                        </div>
                        <div class="lh-recruitment-main clearfix">
                            工作职责：
                            1、成人教育学历提升，教育行业销售；
                            2、完成分派招生工作及招生任务，通过网络宣传、地推等方式开展招生工作；
                            3、和目标客户进行有效沟通，完成招生；
                        </div>
                    </li>
                    <li>
                        <div class="lh-recruitment-h clearfix lh-flex">
                            <span class="num">
                                招聘
                            </span><span class="title">
                                市场专员
                            </span>
                            <i></i>
                        </div>
                        <div class="lh-recruitment-main clearfix">
                            工作职责：
                            1、成人教育学历提升，教育行业销售；
                            2、完成分派招生工作及招生任务，通过网络宣传、地推等方式开展招生工作；
                            3、和目标客户进行有效沟通，完成招生；
                        </div>
                    </li>
                </ul>
                <div class="lh-loading erlo_lj_more">加载更多职位</div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
{include file="public/footer"}
</body>

</html>