{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/adult.css" />
{include file="public/ban"}
<div class="lh-main other">
    <div class="lh-position">
        <!--介绍-->
        <div class="lh-introduce lh-overflow padding75" id="#9">
            <div class="container">
                <h2 class="lh-other-h2 wow fadeInUp">
                    成人高考简介
                </h2>
                <pre
                    class="lh-introduce-pre wow fadeInUp c-overflow-y">成人高等学校招生统一考试的简称成人高考，是我国成人高等学校选拔合格的毕业生以进入更高层次学历教育的入学考试，属于国民教育系列教育，已经列入国家招生计划，由各省市自治区、直辖市统一组织录取。</pre>
                <div class="loadmore-x wow fadeInUp">点击加载全文</div>
                <ul class="lh-introduce-item clearfix lh-flex lh-overflow-y">
                    <li class="wow fadeInUp">
                        <div><img src="__IMG__/20190827/1615583879.JPG" /></div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- major -->
        {include file="public/major"}

        <!-- 注意事项 -->
        <div class="lh-attention padding65" id="#123">
            <div class="container">
                <h2 class="lh-other-h2 wow fadeInUp">
                    注意事项
                </h2>
                <ul class="lh-attention-item lh-flex clearfix">

                    <li class="wow fadeInUp">
                        <a href="#">
                            <div class="top">
                                <h2>0
                                </h2>
                                <h3>
                                    自考转免考流程
                                </h3>
                            </div>
                            <div class="center">
                                <div class="img" style="background-image:url(__IMG__/20190827/1349376600.jpg);"></div>
                                <pre class="text">自考报名报考注意事项：
                                    1、登录高等教育自学考试管理信息系统报名；
                                    2、办理网上银行；
                                    3、办理银行卡后的新生，和有银行卡的老考生按照报名网站规定的报名流程完成网上报名；
                                    4、网上报名成功后的新生需要记住准考证号；
                                    5、完成图像采集；
                                    6、完成报考；
                                    5、如有任何疑问天府英才</pre>
                            </div>
                            <div class="bottom"><i class="iconfont icon-iconfontgengduo"></i>查看更多</div>
                        </a>
                    </li>

                    <li class="wow fadeInUp">
                        <a href="#">
                            <div class="top">
                                <h2>0
                                </h2>
                                <h3>
                                    自考转免考流程
                                </h3>
                            </div>
                            <div class="center">
                                <div class="img" style="background-image:url(__IMG__/20190827/1349376600.jpg);"></div>
                                <pre class="text">自考报名报考注意事项：
                                    1、登录高等教育自学考试管理信息系统报名；
                                    2、办理网上银行；
                                    3、办理银行卡后的新生，和有银行卡的老考生按照报名网站规定的报名流程完成网上报名；
                                    4、网上报名成功后的新生需要记住准考证号；
                                    5、完成图像采集；
                                    6、完成报考；
                                    5、如有任何疑问天府英才</pre>
                            </div>
                            <div class="bottom"><i class="iconfont icon-iconfontgengduo"></i>查看更多</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--流程-->
        <div class="lh-process" id="#123" style="background-image:url(__IMG__/cs/c7.jpg);">
            <div class="container">
                <h2 class="lh-other-h2 white wow fadeInUp">
                    自考流程
                </h2>
                <ul class="lh-process-item zx lh-flex clearfix">
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!--学历提升的作用-->
        {include file="public/role"}
        <!--题库-->
        {include file="public/bank"}
        <!-- 证书展示 -->
        {include file="public/certificate"}
        <!-- 学生风采 -->
        {include file="public/student"}
        <!-- advantages -->
        {include file="public/advantages"}
    </div>
</div>
{include file="public/footer"}