{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/self.css" />
{include file="public/ban"}
<div class="lh-main other">
    <div class="lh-position">
        <!--介绍-->
        <div class="lh-zx padding75" id="#4">
            <div class="container clearfix">
                <div class="lh-zx-r right">
                    <div class="lh-zx-a">
                        <h2>统考时间</h2>
                        <h3>Examination time</h3>
                        <ul class="lh-zx-time lh-flex clearfix">
                            <li><span></span>
                                四月
                            </li>
                            <li><span></span>
                                十月
                            </li>
                        </ul>
                    </div>
                    <div class="lh-zx-a">
                        <h2>省考时间</h2>
                        <h3>Save time for exams</h3>
                        <ul class="lh-zx-time lh-flex clearfix">
                            <li><span></span>
                                一月
                            </li>
                            <li><span></span>
                                七月
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lh-introduce-r left">
                    <h2 class="lh-other-h2 wow fadeInUp">
                        自学考试简介
                    </h2>
                    <div class="c-overflow-y">
                        <pre class="wow fadeInUp">高等教育自学考试（简称自学考试、自考）于1981年由国务院批准创立，是对自学考试参加者进行以学历考试为主的高等教育国家考试，是个人自学、社会助学和国家考试相结合的高等教育形式。
                            部分地区自学考试分为两种学习方式：一是在高等院校举办的助学点学习或进入本校进行全日制学习（应用型考生，又称小自考），二是在社会举办的助学单位学习或自学（社会型考生，又称大自考）。两种自考方式均可获得国家承认、学信网可查的学历。
                            学制：学制2年
                            入学方式：免试入学
                            考试安排：统考为4月和10月，校考为1月和7月
                            考试组织：统考是由四川省考试院组织，省考由主考院校统一组织
                            报考条件：不受性别、年龄、民族、种族和已受教育程度的限制
                            
                            自学考试四大优势：
                            1.时间短
                            自考免试入学，学制2年；自考专科最快1.5年；自考本科最快2年；专本套读最快2.5年。
                            2.权威性
                            自考文凭属国民教育系列文凭，学信网终身可查，享有与普通专、本科毕业生同等待遇。
                            3.门槛低
                            免试入学，不受性别、年龄、民族、种族和已受教育程度的限制
                            4.收益大
                            自学考试文凭考取公务员、教师公招等事业单位不受任何限制，获得自学本科学历可以直接报考全国统招研究生。</pre>
                        <h3 class="wow fadeInUp">

                        </h3>
                        <div class="cont clearfix wow fadeInUp">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="loadmore-x wow fadeInUp">点击加载全文</div>
                    <a href="javascript:;"
                        data-url="https://tb.53kf.com/code/client/fe392c8b2d7b7c512d5e248c72dd77976/1"
                        class="lhLjzx wow fadeInUp">立即咨询</a>
                </div>
            </div>
        </div>
        <!-- major -->
        {include file="public/major"}

        <!-- 注意事项 -->
        <div class="lh-attention padding65" id="#123">
            <div class="container">
                <h2 class="lh-other-h2 wow fadeInUp">
                    注意事项
                </h2>
                <ul class="lh-attention-item lh-flex clearfix">

                    <li class="wow fadeInUp">
                        <a href="#">
                            <div class="top">
                                <h2>0
                                </h2>
                                <h3>
                                    自考转免考流程
                                </h3>
                            </div>
                            <div class="center">
                                <div class="img" style="background-image:url(__IMG__/20190827/1349376600.jpg);"></div>
                                <pre class="text">自考报名报考注意事项：
                                    1、登录高等教育自学考试管理信息系统报名；
                                    2、办理网上银行；
                                    3、办理银行卡后的新生，和有银行卡的老考生按照报名网站规定的报名流程完成网上报名；
                                    4、网上报名成功后的新生需要记住准考证号；
                                    5、完成图像采集；
                                    6、完成报考；
                                    5、如有任何疑问查米教育</pre>
                            </div>
                            <div class="bottom"><i class="iconfont icon-iconfontgengduo"></i>查看更多</div>
                        </a>
                    </li>

                    <li class="wow fadeInUp">
                        <a href="#">
                            <div class="top">
                                <h2>0
                                </h2>
                                <h3>
                                    自考转免考流程
                                </h3>
                            </div>
                            <div class="center">
                                <div class="img" style="background-image:url(__IMG__/20190827/1349376600.jpg);"></div>
                                <pre class="text">自考报名报考注意事项：
                                    1、登录高等教育自学考试管理信息系统报名；
                                    2、办理网上银行；
                                    3、办理银行卡后的新生，和有银行卡的老考生按照报名网站规定的报名流程完成网上报名；
                                    4、网上报名成功后的新生需要记住准考证号；
                                    5、完成图像采集；
                                    6、完成报考；
                                    5、如有任何疑问查米教育</pre>
                            </div>
                            <div class="bottom"><i class="iconfont icon-iconfontgengduo"></i>查看更多</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--流程-->
        <div class="lh-process" id="#123" style="background-image:url(__IMG__/cs/c7.jpg);">
            <div class="container">
                <h2 class="lh-other-h2 white wow fadeInUp">
                    自考流程
                </h2>
                <ul class="lh-process-item zx lh-flex clearfix">
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>
                    <li class="wow fadeInUp">
                        <a href="javascript:;">
                            <span>
                                01
                            </span>
                            <div class="img">
                                <div class="img1"><img src="__IMG__/20190827/1537431034.png">
                                </div>
                                <div class="img2"><img src="__IMG__/20190827/1537477759.png">
                                </div>
                            </div>
                            <h2>
                                资询信息
                            </h2>
                            <h3>
                                <pre>选择自己合适的专业进行报名</pre>
                            </h3>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!--学历提升的作用-->
        {include file="public/role"}
        <!--题库-->
        {include file="public/bank"}
        <!-- 证书展示 -->
        {include file="public/certificate"}
        <!-- 学生风采 -->
        {include file="public/student"}
        <!-- advantages -->
        {include file="public/advantages"}
    </div>
</div>
{include file="public/footer"}